
#tooltip {
	display:none;
	position:absolute;
	z-index:1000;
	margin-left:6px;
	margin-top:14px;
	padding:5px 8px;
	background:rgba(0,0,0,0.75);
	box-shadow:0 1px 6px rgba(0,0,0,0.75);
	color:#fff;
	max-width:200px;
	font-size:12px;
}